.contactContainer{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(22,103,199,1) 100%);
    border-radius: 10px;
    margin: 10px 0 10px 25%;
    padding: 20px;
    width: 50%;

}

input[type='text'],
input[type='email'],
select,
textarea{
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 8px;
}

input[type='submit']{
    background: linear-gradient(90deg, rgba(48,88,96,0.5382528011204482) 15%, rgba(0,5,6,0.5914740896358543) 42%, rgba(29,7,230,0.9164040616246498) 88%);
    width: 50%;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    font-size: 25px;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    left: 25%;
}

input[type='submit']:hover{
    background: linear-gradient(90deg, rgba(48,88,96,0.5382528011204482) 15%, rgba(140,226,244,0.5354516806722689) 42%, rgba(29,7,230,0.7987570028011204) 88%);
    color: rgb(2, 34, 17);
}