.containerMisiones{
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    border: 2px solid gray;
    letter-spacing: 1px;
    font-size: 1.5rem;
    background-color: rgb(253, 244, 233);
}

th{
    border: 1px solid gray;
    padding: 10px;
    background-color: darkgrey;
}

td{
    border: 1px solid gray;
    padding: 10px;
}

h2{
    padding-left: 20px;
}